@import '../sass/progressBar';

.logo{
  text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    width: 100%;
}

.mainBack{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.cardPost{
  position: absolute;
    z-index: 5;
    /* background: transparent; */
    /* align-self: center; */
    width: 73%;

    /* justify-self: center; */
}
::ng-deep .card{
  background: transparent;
}
